:root {
    --pf: 'Source Sans Pro', sans-serif;
    --transition: all .5s;
}

.light,
body[color-theme="light"] {
    --bg: #f0f8ff;
    --bg-light: rgba(255, 255, 255, .8);
    --clr-text: #182227;
    --clr-text-light: #182227bb;
    --clr-shadow: rgba(0, 0, 0, .15);
}

.dark,
body[color-theme="dark"] {
    --bg: #182227;
    --bg-light: rgba(255, 255, 255, .15);
    --clr-text: #FCE8Ec;
    --clr-text-light: #FCE8Ecbb;
    --clr-shadow: rgba(0, 0, 0, .2);
}


body {
    height: auto;
    margin: 0;
    background-color: var(--bg);
    color: var(--clr-text);
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}

a {
    color: var(--clr-text-light);
    font-weight: bold;
}

#theme-changer {
    position: fixed;
    top: 4px;
    right: 4px;
}

.ocean {
    position: absolute;
    left: 0x;
    min-width: 100%;
    background-image: url(icons/ocean.svg);
    background-repeat: repeat-x;
    height: 40%;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.fish {
    position: absolute;
    transition: bottom 2s, opacity 1s;
    bottom: 0;
    width: 10%;
    z-index: -1;
    min-width: 160px;
}

#bulb {
    min-width: 64px;
    width: 8%;
}

.setting {
    cursor: pointer;
    z-index: 128;
    transition: opacity 1s;
    opacity: 0.2;
}

.setting:hover {
    opacity: 1;
}

#volume-control {
    position: absolute;
    bottom: 4px;
    left: 4px;
}

#backpack {
    position: absolute;
    cursor: pointer;
    right: 4px;
    bottom: 4px;
    min-width: 64px;
    width: 4%;
}

#volume-control * {
    vertical-align: middle;
}

/*#inventory {
    text-align: center;
    width: 60%;
    padding: 1%;
    margin: auto;
    z-index: 255;
}*/

#inventory {
    position: absolute;
    z-index: 255;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
}

#rarefish {
    bottom: 0px;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

#rarefish img {
    width: 8%;
    margin: 8px;
    cursor: grab;
}

#rarefish img:active {
    cursor: grabbing;
}

#trashcan { 
    position: fixed;
    top: 4%;
    right: 4%;
    width: 8%;
    border: 4px dashed gray;
    padding: 4px;
}

#inv_about { 
    position: fixed;
    top: 24%;
    right: 4%;
    width: 12%;
    padding: 4px;
    display: block;
}

#howdy {
    position: fixed;
    right: 4%;
    width: 12%;
    bottom:8%;
    padding: 4px;
    display: block;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2), 
only screen and (max-width: 900px){
    h1 {
        font-size: 96px !important;
    }
    
    h2 {
        font-size: 64px !important;
    }
    
    .fish {
        width: 25% !important;
    }
    
    #rarefish img {
        width: 16%;
    }
    #deleteRarefish {
        width: 16%;
    }
    
    #rarefish {
        width: 80%;
    }

    #inv_about {
        display: none;
    }
}